.login-background{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url("../../assets/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card{
    background-color: white;
    width: 100%;
    /* max-width: 480px !important; */
    border:none;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);

}
.card-body{
    padding:2rem;
}

@media (max-width:630px) {
    .card{
        max-width: 480px !important;
    }
}

@media (max-width:426px) {
    .card{
        max-width: 300px !important;
    }
    .header-login{
        margin-bottom: 20px;
    }
}
@media (max-width:321px) {
    .card{
        max-width: 280px !important;
    }
    .header-login{
        margin-bottom: 10px;
    }
    .text-login{
        display: none;
    }
}