.explore-container{
    display: flex;
    gap: 20px;
    padding: 20px;
    height: 20px;
    box-sizing: border-box;
    height: calc(100vh - 4rem);
    background-color: #2c3335;
    overflow: auto;
}
.left-column{
    flex :0.7;
    border :1px solid #ccc;
    border-radius: 8px;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.first-row{
    flex:0.3;
    box-sizing: border-box;
}
.horizontal-line{
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #cccccc;
}
.second-row{
    flex:0.7;
    box-sizing: border-box;
}
.right-column{
    flex: 0.3;
    border:1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    height: 100%;
    box-sizing: border-box;
}
.cart-summary-container{
    flex:0.3;
    border-top: 1px solid #ccc;
}
.cart-item{
    background-color: #2c2c2c;
    padding: 12px;
    border-radius: 8px;
}
.cart-summary-container{
        margin-bottom: 3rem;
    }
@media (max-width:1204px) {
    .cart-summary-container{
        margin-bottom: 1rem !important;
    }
}
@media (max-width:630px) {
    .explore-container{
        flex-direction: column;
        overflow: scroll;
    }
}